.dark{
    background-color: $dark;
    .mousePoint{
        background-color:$primary-color;
    }
    .container{
        .nav{
            .logo{
                color: $white;
            }
            .switch_box{
                .slider-bar{
                    border: 2px solid $white;
                    &::before{
                        background-color: $white;
                    }
                }
                
                .switch_text{
                    color:$white;
                }
            }
        }
        //第一部份
        .portolio{
            background-color:$dark;
            .intro{
                color: $white;
            }
        }

        .link_text{
            color: $white;
            &::before{
                background-color:$white;
            }
            &::after{
                background-image: url('../assets/arrow-w.svg');
            }
        }
        //第二部份
        .selected_works {
            color: $white;
    
            &_text_move {
                color: rgba(127, 127, 127,0.6);
            }

        }
    
        //第三部份
        .contact{
            color: $white;
            .info_left{
                color: $white;
                a{
                    color: $white;
                }
                .info_hover{
                    &::before{
                        background-color: $white;
                    }
                }
            }
    
            .info_right{
                color: $white;
                .info_icon{
                    background-image: url('./assets/close.svg');
                }
                &:hover {
                    .info_icon{
                        background-image: url('./assets/play.svg');
                    }
                }
                
            }
            .connect{
                color: $white;
                &::before{
                    background-color:$white;
                }
                &::after{
                    background-image: url('./assets/arrow-w.svg');
                }
                &:hover::after{
                    transform: translateX(0px) translateY(0px);
                }
            }
        }
        
    }

    .card_list_item{
        border-bottom: 1px solid rgb(255, 255, 255,0.3) !important;
        a{
            color: $white;
        }
    }
}


